name: "Terraform Destroy"
on:
    workflow_dispatch:
        inputs:
            environment:
                description: "The desired Environment to destroy"
                required: true
                type: environment
permissions:
    id-token: write # This is required for aws oidc connection
    contents: read # This is required for actions/checkout
    pull-requests: write # This is required for gh bot to comment PR
env:
    TF_LOG: INFO
    ENVIRONMENT: ${{ inputs.environment }}
    AWS_REGION: ${{ secrets.AWS_REGION }}
jobs:
    deploy:
        environment: ${{ inputs.environment }}
        runs-on: ubuntu-latest
        defaults:
            run:
                shell: bash
                working-directory: terraform
        steps:
            - name: Git checkout
              uses: actions/checkout@v3

            - name: Configure AWS credentials from AWS account
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  role-to-assume: ${{ secrets.AWS_ROLE }}
                  aws-region: ${{ secrets.AWS_REGION }}
                  role-session-name: GitHub-OIDC-TERRAFORM

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                  terraform_version: 1.6.5

            - name: Terraform fmt
              id: fmt
              run: terraform fmt -check
              continue-on-error: true

            - name: Terraform Init
              id: init
              env:
                  AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}
                  AWS_BUCKET_KEY_NAME: "${{github.event.repository.name}}/${{secrets.AWS_REGION}}"
              run: |
                  terraform init \
                      -backend-config="bucket=${AWS_BUCKET_NAME}" \
                      -backend-config="key=${AWS_BUCKET_KEY_NAME}" \
                      -backend-config="region=${AWS_REGION}"

            - name: Setup Terraform Environment
              id: terraform-env
              run: |
                  APP_NAME="${{ secrets.APP_NAME }}"

                  echo "APP_NAME=$APP_NAME"

                  WORKSPACE="${{inputs.environment}}"

                  # Add variables to step output context
                  echo "APP_NAME=$APP_NAME" >> $GITHUB_OUTPUT
                  echo "WORKSPACE=$WORKSPACE" >> $GITHUB_OUTPUT

                  # Select terraform workspace
                  terraform workspace select -or-create=true $WORKSPACE
           
            - name: Terraform Destroy
              run: |
                  terraform destroy \
                      -auto-approve \
                      -input=false \
                      -var="domain=${{ secrets.DOMAIN }}" \
                      -var="app_name=${{ steps.terraform-env.outputs.APP_NAME }}"
