name: "Develop Terraform action"
on:
    push:
        branches:
            - develop
    pull_request:
        branches:
            - develop
permissions:
    id-token: write # This is required for aws oidc connection
    contents: read # This is required for actions/checkout
    pull-requests: write # This is required for gh bot to comment PR
jobs:
    terraform-dev:
        name: Terraform Dev
        uses: ./.github/workflows/main.yaml
        secrets: inherit
        with:
            environment: "dev"
