name: "Prod Terraform action"
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
permissions:
    id-token: write # This is required for aws oidc connection
    contents: read # This is required for actions/checkout
    pull-requests: write # This is required for gh bot to comment PR
jobs:
    terraform-prod:
        name: Terraform Prod
        uses: ./.github/workflows/main.yaml
        with:
            environment: "prod"
